#root {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.card {
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}

.select {
  width: 14rem;
  max-width: 16rem;
  width: 100%;
}

.input {
  width: 14rem;
  max-width: 14rem;
  width: 100%;
}


.read-the-docs {
  background: #252525;
}
